body {
  margin: 0;
  font-family: 'Segoe UI', Verdana;
  font-size: 16px;
  color: #fff;
  box-sizing: border-box;
  background-image: url('background.jpg');
  background-position: center;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  text-align: center;
}

.avatar {
  background-image: url('avatar.jpg');
  background-size: 210px;
  background-position: center;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 25px;
  border: 5px solid rgba(218, 218, 218, 0.1);
}

.description {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
}

.subtitle {
  font-size: 1rem;
  font-weight: normal;
  margin: 0 0 10px;
}

.content {
  background-image: url('dark.png');
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  flex-direction: column;
  box-shadow: 0px 0px 6px #000, 0px 0px 3px #000;
  border-radius: 10px;
}

.footer {
  margin: 25px 0 0 0;
}

.contact-link {
  display: inline-block;
}

.contact-link i {
  font-size: 2.5rem;
  color: #fff;
  margin-right: 15px;
}

.contact-link:last-child i {
  margin-right: 0;
}

.hidden {
  display: none;
}

@media (max-width: 550px) {
  .header {
    flex-direction: column;
  }

  .avatar {
    margin-right: 0;
  }

  .subtitle {
    margin: 10px 0;
  }
}

@media (max-width: 320px) {
  .content {
    padding: 20px;
  }

  .contact-link i {
    margin-right: 10px;
  }
}

@media (max-width: 320px) {
  .content {
    padding: 15px;
  }
}

@media (orientation: landscape) {
  .header {
    flex-direction: row;
  }
}

@media (orientation: landscape) and (max-height: 280px) {
  .avatar {
    background-size: 160px;
    width: 150px;
    height: 150px;
  }

  .footer {
    margin: 15px 0 0 0;
  }
}
